<html>
<head>
<title>Anarchademics</title>
    <link rel="stylesheet" type="text/css" href="anarchcss.css" />
</head>

<body>
<div id="fb-root"></div>

<center>
<div id="wrap">
  <h1>Anarchademics Reading List Archive</h1>

	<div id="main">

			<h2>Monthly Readings</h2>

	<ul>
		<h4>June 2012</h4>
		<p>Anarcha-Feminism</p>
		<li><a href ="http://www.anarcha.org/sallydarity/PeggyKornegger.htm"> Anarchism: The Feminist Connection </a> by Peggy Kornegger </li>
		<li><a href ="http://zinelibrary.info/files/bloodlust.pdf"> Bloodlust</a> A feminist journal against civilization' (feminist anarcho-primitivism </li>
		<li><a href="http://www.sindominio.net/karakola/"> Espanol Mujeres</a>(anarcho-feminist squat in Madrid)</li>
	</ul>

	<ul>
		<h4>April & May 2012</h4>
		<li><a href="http://libcom.org/library/nationalism-culture-rudolf-rocker"> Nationalism and Culture</a> by Rudolf Rocker</li>
	</ul>

	<ul>
		<h4>March 2012</h4>
		<p> Max Stirner's 'The Ego and its Own' (Alternatively translated as "The Individual and their Property") </p>
	</ul>

	<ul>
		<h4>Febuary 2012</h4>
		<li><a href ="http://www.panarchy.org/tucker/state.socialism.html"> State Socialism and Anarchism </a> by Benjamin R. Tucker</li>
	</ul>

	<ul> <h4>January 2012</h4>
		<p><a href="http://www.anarchyisorder.org/CD%234/Lay-outed%20texts/PDF-versions/Proudhon%20Pierre-Joseph%20-%20What%20is%20property.pdf"> What is Property?</a> by Pierre-Joseph Proudhon</p>
  </ul>

	<ul>
		<h4>December 2011</h4>
		<p><a href ="http://books.google.com/books?id=yqZQ6X9aln0C&printsec=frontcover&authuser=1&source=gbs_atb#v=onepage&q&f=false"> Consensus </a> by Peter Gelderloos</p>
		<p><a href ="http://en.wikibooks.org/wiki/Anarchist_FAQ"> The Anarchist FAQ </a></p>
		<p>Anarchism and its Aspirations (Milstein)</p>
	</ul>

	<ul>
		<h4>November 2011 </h4>
		<p><a href "http://www.manybooks.net/titles/kropotkinpeter2342823428-8.html">The Conquest of Bread by Peter Kropotkin </a></p>
		<p>NOTE: Meeting to be held at the Downtown Bo Diddley Plaza</p>
	</ul>

	<ul>
		<h4>October 2011</h4>
		<p>'Revolution for the hell of it' By Abbie Hoffman, Harvey Wasserman</p>
	</ul>

	<ul>
		<h4>September 21st 2011</h4>
		<p>Globalization and its Discontents by <a href ="http://www.josephstiglitz.com/"> Joseph Stiglitz </a> </p>
		<p> <a href ="http://eap.ucop.edu/PageNotFound/Pages/Default.aspx?oldUrl=http%3A%2F%2Feap.ucop.edu%2F_pub%2Fforms%2F0910%2Fchina%2Fjpis%2Freadings%2Fglobalization%2FStiglitz_Global_and_Disc_3.pdf">Chapter 3</a></p>
	</ul>

	<ul>
	    <h4>August 2011</h4>
		<p>The mission and the history of the Industrial Workers of the World (IWW)</p>
		<li> <a href ="http://www.iww.org/en/history">IWW History</a></li>
		<li> <a href ="http://www.gainesvilleiww.org/docs/AnnotPreamble.pdf">Annotated Preamble</a></li>
		<li> <a href ="http://www.iww.org/PDF/Official/2010OBU.pdf">One Big Union</a></li>
		<li> <a href ="http://www.iww.org/en/history/biography/FrankLittle/1">Frank Little Bio</a></li>
	</ul>

	<ul>
		<h4>July 2011</h4>
		<li> <a href ="http://en.wikipedia.org/wiki/Bakunin"> Mikhail Bakunin: </a></li>
		<li> <a href ="http://warisforsuckers.com/Bakunin%20-%20The%20Policy%20of%20The%20International.pdf">'The Policy of The International'</a></li>
		<li> <a href ="http://www.marxists.org/reference/archive/bakunin/works/1873/statism-anarchy.htm">'Statism and Anarchy'</a></li>
		<li> <a href ="http://librivox.org/god-and-the-state-by-mikhail-bakunin/">'God and the State' (audiobook)</a></li>
		<li> <a href ="http://warisforsuckers.com/Bakunin%20-%20Marxism%20Freedom%20and%20the%20State.pdf">'Marxism, Freedom and the State'</a></li>
		<li> <a href ="http://theanarchistlibrary.org/pdfs/letter/Michail_Bakunin__The_Program_of_the_International_Brotherhood_letter.pdf">'The Program of the International Brotherhood'</a></li>
	</ul>

	<ul>
	<h4>June 2011</h4>
	<P>For the June meeting, the group decided to address 'Anarchist Histories'. Volunteers will provide a 5-7 minute presentations on specific histories of anarchism. Presentations will not only include movements within specific geographic areas, but also the development of particular philosophical perspectives and political trends.</P>
		<li>Robbie:The Ukraine</li>
		<li>Sara: Italy and The Italian Diaspora</li>
		<li>James: 1990's U.S. Grassroots</li>
		<li>Greg: Infoanarchism and Technological Anarchism<</li>
		<li>Frank: The Mad Pride Movement</li>
	</ul>

	<ul>
	<h4>May 2011 - Psychology, the State and the Pharmaceutical Industrial Complex.</h4>
	<li>Szasz, Thomas.2001. <a href = "http://www.independent.org/pdf/tir/tir_05_4_szasz.pdf">'The Therapeutic State: The Tyranny of Pharmacracy':</a></li>
	<li>Pringle, Evelyn. 2010. <a href = "http://dissidentvoice.org/2010/06/tracking-the-american-epidemic-of-mental-illness-part-iii/">'The Psychopharmaceutical Industrial Complex':</a></li>
	<li>Foucault, Michel. 1961. <a href = "http://www.naturalthinker.net/trl/texts/Foucault,Michel/Foucault,%20Michel%20-%20Madness%20and%20Civilization.pdf">'Stultiferas Navis' in Madness and Civilization:</a></li>
	<li>Whitaker, Robert.2010. <a href = "http://www.madinamerica.com/madinamerica.com/Anatomy%20of%20an%20Epidemic_files/anatomych1.pdf">'A Modern Plague' in Anatomy of an Epidemic:</a></li>
	</ul>

	<ul>
	<h4>April  2011</h4>
	<li>Peter Gelderloos,<a href ="http://zinelibrary.info/how-nonviolence-protects-state-peter-gelderloos">'How Non-violence Protects the State'</a></li>
	<li>Ward Churchill, <a href =" http://www.wiki.cambridgeaction.net/images/c/c7/Pacifism_As_Pathology.pdf">'Pacifism as Pathology'</a></li>
	<li>Alfredo Bonnano, <a href ="http://zinelibrary.info/armed-joy">'Armed Joy'</a></li>
	</ul>

	<ul>
	<h4>March 2011</h4>
	<li>H.D. Thoreau, <a href="http://www.transcendentalists.com/civil_disobedience.htm">'Civil Disobedience'</a></li>
	<li>L. Tolstoy, <a href ="http://www.thoughtaudio.com/titlelist/TA0072-KingdomofGod/index.html">'The Kingdom of God is within You' chapter one</a></li>
	<li>M.L. King, <a href="http://warisforsuckers.com/mlk.pdf">'Where do we go from here: Chaos or Community'</a></li>
	<li>M.K. Gandhi, <a href="http://warisforsuckers.com/satyagraha.pdf">'Satyagraha'</a></li>
	<li>B. de Ligt, <a href="http://warisforsuckers.com/deligt.pdf">'The Conquest of Violence'</a></li>
	</ul>

	<ul>
	<h4>February 2011</h4>
	<li><a href ="http://www.iww.org/culture/biography/LucyParsons1.shtml"> Lucy Parsons</a>:</li>
	<li><a href ="http://www.lucyparsonsproject.org/writings_by_lucy.html">http://www.lucyparsonsproject.org/writings_by_lucy.html</a></li>
	<li>(We will specifically focus on: "I am an Anarchist" and "Principles of Anarchism" )</li>
	<br>
	<li><a href ="http://libcom.org/library/anarchism-black-revolution-lorenzo-ervin-bio">Lorenzo Komboa Ervin</a>:</li>
	<li><a href ="http://www.iww.org/culture/articles/komboa1.shtml">Authoritarian Leftists:Kill the Cop in Your Head</a></li>
	<li><a href ="http://libcom.org/library/anarchism-black-revolution-lorenzo-ervin">Anarchism and the Black Revolution</a></li>

	<br>
	<li>Additional Resources:</li>
	<li><a href="http://www.peopleofcolororganize.com/wp-content/uploads/pdf/poco/five.pdf">'Five Things White Activists Should Never Say', by People of Color Organize:</a></li>
	<br>
	<li>APOC:</li>
	<iframe title="YouTube video player" width="448" height="364" src="http://www.youtube.com/embed/ZkzLRCnmnUU" frameborder="0" allowfullscreen></iframe>
	<br>
	<li>Ashanti Alston:</li>
	<iframe title="YouTube video player" width="448" height="364" src="http://www.youtube.com/embed/xpHAJ1n0JOU" frameborder="0" allowfullscreen></iframe>
	</ul>

	<ul>
	<h4>January 2011</h4>
	<li><a href="http://www.zizekthemovie.com/">Zizek!</a> Documentary film hosted at the CMC </li>
	<li>about <a href ="http://en.wikipedia.org/wiki/Slavoj_%C5%BDi%C5%BEek">Slavoj ek</a></li>
	<li><a href="http://www.nautilus-solar.net/SandyGunfox/books/Z/Zizek,%20Slavoj/Zizek,%20Slavoj%20-%20First%20as%20Tragedy,%20Then%20as%20Farce.pdf">First As Tragedy Then as Farce (Chapter concentration tba)</a>by Zizek</li>
	<object width="375" height="219"><param name="movie" value="http://www.youtube.com/v/hpAMbpQ8J7g?fs=1&amp;hl=en_US"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/hpAMbpQ8J7g?fs=1&amp;hl=en_US" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="375" height="219"></embed></object>
	</ul>

	<ul>
	<h4>December 2010</h4>
	<li><a href="http://www.anarchademics.com/precioustimeproposal.html">Intentional Community Proposal</a> by Iuval Clejanus</li>
	<li><a href="http://www.ssc.wisc.edu/~wright/ERU.htm">Envisioning Real Utopias (Chapters 1 & 12)</a> by Erik Olin Wright</li>
	<li><a href="http://warisforsuckers.com/eru-ch3.pdf">Chapters 3 & 4 Optional</a></li>
	</ul>

	<ul>
	<h4>November 2010</h4>
	<li><a href="http://www.complementarycurrency.org/ccLibrary/Mutual_Aid-A_Factor_of_Evolution-Peter_Kropotkin.pdf">Mutual Aid - A Factor of Evolution</a> by Peter Kropotkin</li>
	</ul>

	<ul>
	<h4>October 2010</h4>
	<li><a href="http://en.wikipedia.org/wiki/Anarcho-primitivism">Anarcho-Primitivism</a> wikipedia overview</li>
	<li><a href="http://www.insurgentdesire.org.uk/actions.htm">Action's Speak Louder Than Words</a> by Derrick Jensen </li>
	<li>Interviews with Derrick Jensen:</li>
	<li><a href="http://ascentmagazine.com/articles.aspx?articleID=282&page=read&subpage=current&issueID=38%2F">The Complexities of Hope</a> with Nikko Snyder </li>
	<li><a href="http://www.nocompromise.org/issues/26jensen.html">Bringing Down Civilization</a> from NoCompromise.org</li>
	</ul>

	<ul>
	<h4>September 2010</h4>
	<li><a href="http://tarnac9.noblogs.org/gallery/5188/insurrection_english.pdf">The Coming Insurrection</a> by the Invisible Committe</li>
	<li><a href="http://www.envplan.com/epd/editorials/d2604ks.pdf">The Shock Doctrine</a> by Naomi Klein</li>
	<li><a href = "http://www.viceland.com/int/v17n4/htdocs/vive-le-tarnac-nine-407.php">VIVE LE TARNAC NINE!</a> from Vice magazine</li>
	</ul>

	<ul>
	<h4>August 2010</h4>
	<li><a href="http://tarnac9.files.wordpress.com/2009/01/how-is-it-to-be-done.pdf">How Is It to be Done?</a> by Tiqqun</li>
	<li><a href= "http://warisforsuckers.com/a/bakunin-selected_writings.pdf">Selected writings by Michael Bakunin</a></li>
	<li><a href= "http://www.ushistory.org/declaration/document/">The Declaration of Independence</a> by Thomas Jefferson</li>
	<li>Emma Goldman's <a href= "http://warisforsuckers.com/a/emma_goldman_1909_a_new_declaration_of_independence.pdf">A New Declaration Of Independence</a></li>
	</ul>

	<ul>
	<h4>July 2010</h4>
	<li><a href="http://www.webduboissociety.org/pdf/20020201-from-slavery-to-mass-incarceration.pdf">From Slavery To Mass Incaeration</a> by Loic Wocquant </li>
	<li<a href="http://www.globalresearch.ca/articles/EVA110A.html">The Prison-Industrial Complex and the Global Economy</a> by Eve Goldberg and Linda Evans</li>
	<li><a href="http://www.libertarian.co.uk/lapubs/polin/polin168.pdf">Libertarian Anarchism</a> by Daniel C. Burton</li>
	</ul>

	<ul>
	<h4>June 2010</h4>
	<li><a href="http://www.crimethinc.com/blog/2008/12/25/how-to-organize-an-insurrection/">How To Organize an Insurrection</a> from Crimethinc</li>
	<li><a href="http://aeconomics.blogspot.com/2008/12/athens-we-are-image-of-future.html">Athens: We are the Image of the Future</a></li>
	<li><a href="http://www.indymedia.org/en/2010/05/937889.shtml">No Fostering and tolerance to the Murders of May 5th!></a> from Anarchist's Coil</li>
	</ul>

	<ul>
	<h4>May 2010</h4>
	<li><a href="http://warisforsuckers.com/a/basic_anarchosyndicalism.pdf">Basic Anarcho-Syndicalism</a> by The Confederacion Nacional del Trabajo</li>
	<li><a href="http://warisforsuckers.com/a/liberty_and_equality.pdf">Liberty and Equality</a> by Hillel Steiner</li>
	<li><a href="http://www.sciencemag.org/cgi/reprint/162/3859/1243.pdf">The Tragedy of The Commons</a> by Garrett Hardin</li>
	</ul>

	<ul>
	<h4>April 2010</h4>
	<li><a href="http://www.horrormasters.com/Text/a0859.pdf">How Much Land Does A Man Need</a> by Leo Tolstoy</li>
	<li><a href="http://www.grundskyld.dk/pdf/p_agrarian-justice.pdf">Agrarian Justice</a> by Thomas Paine</li>
	<li>Everyday Revolutions by Adam Weissman</li>
	</ul>

	<ul>
	<h4>March 2010</h4>
	<li><a href="http://www.anarchyisorder.org/CD%234/Lay-outed%20texts/PDF-versions/Puente,%20Isaac%20-%20Libertarian%20Communism.pdf">Liberatarian Communism</a> by Isaac Puentes</li>
	</ul>

	<ul>
	<h4>February 2010</h4>
	<li>Continuation of Discussion of January readings</li>
	<li>also:</li>
	<li><a href="http://www.foodnotbombs.net"/>Food Not Bombs</a> and Transition Town's Initiatives</li>
	</ul>

	<ul>
	<h4>January 2010</h4>
	<li><a href="http://thecloud.crimethinc.com/pdfs/fighting_for_our_lives_lo.pdf">Fighting for Our Lives</a> from Crimethinc</li>
	<li>Fragments of an Anarchist Anthropology by David Graeber</li>
	<li><a href="http://www.chomsky.info/articles/1970----.htm">Notes on Anarchism</a> by Noam Chomsky</li>
	</ul>

	<ul>
	<h4>December 2009</h4>
	<li>21st Century Anarchism by David Graeber</li>
	<li>The Idea and the Deed - Excerpt from <a href="http://en.wikipedia.org/wiki/The_Proud_Tower">The Proud Tower</a> by Barbara Tuchman </li>
	</ul>

	<ul>
	<h4>November 2009</h4>
	<li><a href="http://en.wikipedia.org/wiki/Anarchism">Wikipedia entry for Anarchism</a></li>
	</ul>
  </div>

</div>
</center>

</body>
</html>
