<!DOCTYPE html>
<html lang="en">
  <title>Wind Chime Node Finder</title>
  <head>
    <link href="../static/css/chimes.css" rel="stylesheet">
  </head>
   <body>
<!--
     <div class="container">
       <h1>Math - Multiplication </h1>
       <h3>Please enter two numbers to multiply together. </h3>
       <form action="{{url_for('success')}}" method="POST">
         <label>x : </label>
         <input title="Enter first value" placeholder="Enter first value" type="text" maxlength="4" name="factor1" required><br>

         <label>y : </label>
         <input title="Enter second value" placeholder="Enter second value" type="text" size="10" name="factor2" required><br>
         <button type="submit" value="Submit"> Multiply! </button>
       </form>

       <p>Result: {{theSum}}</p>
     </div>
-->
     <div class="container">
       <h1>Wind Chime Node Finder</h1>
       <h3>Please enter the length of your chime below. </h3>
       <form action="{{url_for('decInches')}}" method="POST">
         <label>Inches (whole number) </label>
         <input title="Inches" placeholder="Inches" type="text" maxlength="4" name="intLength" required><br>

         <label>  16ths of an Inch :  </label>
         <input title="16ths" placeholder="16ths" type="text" size="10" name="fraxLength" required><br>
         <button type="submit" value="Submit">Calculate!</button>
       </form>

       <p>Result:   {{message}}</p>
     </div>
   </body>
</html>
