<!DOCTYPE html>
<html>
<body>
<center> <h1>Dark Gourds </h1></center>


<h1> Phantom Flatulence </h1>
<audio controls>  
<source src="https://gregstullgainesvilletest1.herokuapp.com/static/mp3/halloween5.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>

<h1> Darth Pumpking</h1>
<audio controls>  
<source src="https://gregstullgainesvilletest1.herokuapp.com/static/mp3/unrestretched.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>

<h1> Exit Us</h1>
<audio controls>  
<source src="https://gregstullgainesvilletest1.herokuapp.com/static/mp3/halloween1.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>

<h1> oUt oF pLaCe </h1>
<audio controls>  
<source src="https://gregstullgainesvilletest1.herokuapp.com/static/mp3/halloween4.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>

<h1> Attached to the head </h1>
<audio controls>  
<source src="https://gregstullgainesvilletest1.herokuapp.com/static/mp3/halloween2.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>

<h1> Insect Incest </h1>
<audio controls>  
<source src="https://gregstullgainesvilletest1.herokuapp.com/static/mp3/halloween6.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>

<h1> 1900909HOGzzzz </h1>
<audio controls>  
<source src="https://gregstullgainesvilletest1.herokuapp.com/static/mp3/halloween3.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>












</body>
</html>

