{%extends "layout.html"%}
{% block title %}Samplesets{% endblock %}
{%block content%}
<center> <h1>Dark Gourds </h1>

<iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=428181929/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="https://gregagainstthemacrocosm.bandcamp.com/album/dark-gourds-vol-1">Dark Gourds Vol. 1 by Dark Gourds</a></iframe>
<p>My tinkerings with using synth/sampler software to make Halloween music that is creepier than "The Monster Mash" or "Thriller." 
    This lead to considering 'composing' for indie horror movie or video game background sounds. 
    Apparently it's cooler to use an AI for that now. </p>
</center>

{%endblock%}

