{%extends "layout.html"%}
{% block title %}Greg's Flask Demo{% endblock %}
{%block content%}
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name = "viewport" content = "width-device-width, initial-scale=1.0">
  <title>Greg's Personal Project Portal</title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
</head>
<!-- Thing's greg has spent a lot of time thinking about that he probably wishes people would listen to him talk about -->
<body>
  <h1>Greg's Personal Project Portal</h1>
  <p id="inPageNav">
    <a href="#coding">Coding |</a>
    <a href="#cooking">Cooking |</a>
    <a href="#music">Music |</a>
    <a href="#maintenance">Maintenance |</a> 
  </p>
  <div class = "image-flex-container">
    <img class="img-responsive" src="{{url_for('static',filename='images/appScriptScreenshotEmailPDF.png')}}" width ="100" height="100" alt="futonophon">
    <img class="img-responsive" src="{{url_for('static',filename='images/collardsCheap.jpg')}}" width ="100" height="100" alt="futonophon">
    <img class="img-responsive" src="{{url_for('static',filename='images/futonophon.jpg')}}" width ="100" height="100" alt="futonophon">
    
    <img class="img-responsive" src="{{url_for('static',filename='images/cellphonemount1.jpg')}}" width ="100" height="100" alt="futonophon">
  </div>

  <section id="preamble">
    <!-- <p>Hi,I'm Greg.  I have thought, researched,  and/or worked on a number of things that I feel worthy of sharing.</p> -->
  </section>

  <a name="coding"></a>
  <section id="coding">
    <h2>Websites and the Whatnot</h2>
    <article>
      <a href = https://videzyrah.github.io/gainesville-plant-market/><h4>Online Local Farmer's Market</h4></a>
      <p>A listing of (edible) plants that can be grown in Gainesville, Florida matched with persons that grow them for sale or barter</p>
    </article>
    <article>
      <a href="{{url_for('index')}}"><h4>Greg Stull Sound Lab</h4></a>
      <p>A webpage where I provide sound sample content.</p>
    </article>

    <article>
      <a href="{{url_for('chimes')}}"><h4>Wind Chime Node finder</h4></a>
      <p>A simple python/Flask based web app for calculating the node points on windchimes, xylophones, idiophones, etc. This means where to drill holes or hold them</p>
    </article>

    <article>
      <a href="https://play.unity.com/u/videzyrah"><h4>Game Development (Unity)</h4></a>
      <p>I made a multi-levelpachinko style game and prototyped a recycling quiz. 
        It turned out the City of Gainesville <a href ="https://cityofgainesvillefl.recycle.game/">already had one</a>. So I encourage you to play that.</p> 
    </article>

    <article>
      <h4>ShareShack</h4>
      <p>I attempted to create code for a tool library; for the <a href="http://www.repurposeproject.org/">Repurpose Project</a>.</p>
      <a href="http://gstull.pythonanywhere.com/">my first Inventory/User CRUD app</a>
      <a href="https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django">Mozilla Developer Network Django Tutorial</a>
    </article>

    <article>
      <a href ="https://github.com/videzyrah/jupyternotebooks/blob/master/PortfolioPieChartGenerator.ipynb"><h4>Data Analysis and Visualization</h4></a>
      <p>I like turning data into charts, but I've only ever had one person ask me to do that to generate automated overviews of how evenly diversified their investment portfolio is.</p>
    </article>

    <article>
      <a href="{{url_for('static',filename='images/appScriptScreenshotEmailPDF.png')}}"><h4>Google Workspace Automation</h4></a>
      <p>I've worked with a small business owner on a project that included using AppScript to auto-fill forms and 
         emailing .pdf invoices/estimates upon their submission.  This enabled tasks that were usually done in an office setting to 
         be done in the field on a cell phone and prevented the cost of a Quickbooks subscription.  So we are hoping to consult other
         small businesses on similar setups.
      </p>
    </article>

  </section>

  <section id="startUpWeekend">
    <h2>Startup Weekend Pitches and Participation</h2>
    <article>
      <h4>Surviving Single / Grocery Cost Calculator</h4>
      <p>-February 2017 competion</p>
      <p>Pitch: "Surviving Single." I was unable to gather teamates to work on the idea of a meal panning/recipe site for single people.</p>
      <p>Participation: The team I joined instead was hoping to start a brew pub.  I enjoyed brainstorming with them.</p>
      <p>Aftermath: I haven't given up on "Surviving Single".  I am aware that a few people use <a href ="https://www.cooksmarts.com/">Cooksmarts</a> I have some Django code in my github.  But more recently I am considering just making a youtube channel with some Instapot recipes I have created. I think at least two more brew pubs have opened up since then</p>
    </article>

    <article>
      <h4>Double ended clips</h4>
      <p>-October  2018 competion</p>
      <p>Pitch: I glued together two wooden clothes pins, hoped to get some marketing people to make a funny sales video like shamwow. </p>
      <p>Participation: I joined a team attempting to create a collaboration matching service for persons doing academic research sorts of things.  The team finished in second place.</p>
      <p>Aftermath:I eventually figured out how to 3D print some parts. But you can buy clothespins at walmart for $0.02 each. i.e. not a monetizable idea.</p>
    </article>

    <article>
      <h4>Tuesdays are Terrible</h4>
      <p>-May 2019 competition</p>
      <p>Pitch: I tried to pitch something even funnier that maybe some people would like to spend a weekend working on. I.e. a marketing app that lists restaurants that have Taco Tuesday night. So, my pitch got the most laughs but not a team.</p>
      <p>Participation: I joined a team that was hoping to develop a system to match people with vacant urban land with people that would use said land to grow vegetables.</p>
      <p>Aftermath: funny enough (I found out later); T-Mobile promotes affiliate businesses on Tuesdays and calls it "T-mobile Tuesdays."  Also I attempted to develop a hypothetical GUI for project management overview of coordinated community planting of vegetables on codepen: </p>
      <a href="https://codepen.io/theothergregstull/pen/xobwPv">An attempt to prototype a gui for displaying possible bartering connections</a>
    </article>
  </section>

  <a name="cooking"></a>
  <section id="cooking">
    <h2>Food Preparation (Cooking / Meal Planning)</h2>
    <p>One of the main struggles in my life has been figuring out how to feed myself day to day.
      I hope to help others in the same boat by creating recipes and/or meal plans
      optimized for single people.  I got a mini InstantPot for christmas and I am really enjoying
      figuring out new recipes that I consider better than what came in the provided recipe book. 
      Thus; <a href ="https://teal-sundae-46fb89.netlify.app/">Meals for Myself: Recipes, Reviews, & Research</a> 
        is a backburner work in progress blog dedicated to budget conscious solutions for those of us shopping and cooking for one.</p>
    </p>
  </section>

  <a name="music"></a>
  <h2>Music</h2>
  <section id="music">  
    <article class="backstory">
      <p>I have played drumset for a few "local" bands but I have also tried to branch out from that.
      This includes studying "world" percussion and testing the layering of different sounds.
      I seem to prefer engaging in collaborative projects rather than dealing with decision processes alone.
      Similarly, when acting alone I tend to attempt to outline ways for others to be creative (or to colaborate with me).</p>
    </article>
    <p>Thus; here are a few videos I have made in that vain:</p>
  <div class ="youtube-wrapper">
    <div class = "vid-holder">
      <p>Four Layered percussion piece ideas</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/3Pf0BlNbtq0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
      <div class = "vid-holder">
      <p>Percussion in the park</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/bNjDnxC--b8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class = "three">
      <p>"Repurposed Percussion" Drum Circle at Barcamp</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/1PZIxYYIAhA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class = "four">
      <p>Drum triggers, piezos, DIY ekit (fail?), and converting Rock Band pads</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/EPOF0C-PpsQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class = "five">
      <p>Cajon (as guitar accompaniement)</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/SqKfRCv1VYc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

    <p>I have also spent alot of time tinkering with "electronic music" software/apps such as FlStudio and Caustic</p>
</section>

  <!-- <section id="maintenance">
    <h2 class ="project_category">Maintenance, "Hacks", etc.</h2>
  </section>
    -->


</body>
</html>
{%endblock%}
