<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name = "viewport" content = "width-device-width, initial-scale=1.0">
  <title>Greg's Personal Project Portal</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<!-- Thing's greg has spent a lot of time thinking about that he probably wishes people would listen to him talk about -->
<body>
  <h1>Greg's Personal Project Portal</h1>
  <p>Music | Maintenance | Cooking | Code</p>
  <img class="img-responsive" src="{{url_for('static',filename='images/futonophon.jpg')}}" width ="100" height="100" alt="futonophon">
  <img class="img-responsive" src="{{url_for('static',filename='images/collardsCheap.jpg')}}" width ="100" height="100" alt="futonophon">
  <img class="img-responsive" src="{{url_for('static',filename='images/cellphonemount1.jpg')}}" width ="100" height="100" alt="futonophon">
<section id="preamble">
<p>Hi,I'm Greg.  I have thought, researched,  and/or worked on a number of things that I feel worthy of sharing.</p>
</section
<section id="music">
    <h2>Music</h2>
    <article class="backstory">
    <p>I have played drumset for a few "local" bands but I have also tried to branch out from that.
  This includes studying "world" percussion and testing the layering of different sounds.
    I seem to prefer engaging in collaborative projects rather than dealing with decision processes alone.
  Similarly, when acting alone I tend to attempt to outline ways for others to be creative (or to colaborate with me).</p>
    </article>
    <p>Thus, these are a few videos I have made in that vain:</p>
    <p>Four Layered percussion piece ideas</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/3Pf0BlNbtq0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>Percussion in the park</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/bNjDnxC--b8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>"Repurposed Percussion" Drum Circle at Barcamp</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/1PZIxYYIAhA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>Drum triggers, piezos, DIY ekit (fail?), and converting Rock Band pads</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/EPOF0C-PpsQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>Cajon (as guitar accompaniement)</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/SqKfRCv1VYc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>I have also spent alot of time tinkering with "electronic music" software/apps such as FlStudio and Caustic</p>
  </section>

  <section id="food">
    <h2>Food Preparation (Cooking / Meal Planning)</h2>
    <p>One of the main problems in my life is figuring out how to feed myself...
      I hope to help others that struggle similarly by creating recipes and/or meal plans
      dedicated to single people.  I got a mini InstantPot for christmas and I am really enjoying
      figuring out new recipes that I consider better than what came in the provided recipe book...
      Basically I want to discuss all the knowledge I wish I had 25 years ago.
    </p>
  </section>

  <section id="code">
    <h2>Code / Web /Entrpreneurial Ideas and Experiences</h2>
    <h3>Startup Weekend Pitches and Participation</h3>

    <article>
    <h4>Surviving Single / Grocery Cost Calculator</h4>
    <p>I pitched "Surving Single"; I was unable to gather teamates to work on the idea of a meal panning/recipe site for single people.</p>
    <p>I haven't given up on this.  I am aware that some people use <a href ="https://www.cooksmarts.com/">Cooksmarts</a></p>
    <p>The team I joined instead was hoping to start a local brewery.  I enjoyed brainstorming with them.</p>
    </article>

    <article>
    <h4>Double ended clips</h4>
    <p>I glued together two wooden clothes pins, it works great as such. I eventually figured out how to 3D print some parts.</p>
    </article>

    <article>
    <h4>Tuesdays are Terrible</h4>
    <a href ="https://www.t-mobile.com/offers/t-mobile-tuesdays"></a>
    </article>
    <article>
    <h4>Garden Patch Match</h4>
    <a href ="https://codepen.io/theothergregstull/pen/xobwPv">An attempt to prototype a gui for displaying possible bartering connections/a>
    </article>
    <article>
    <a href ="https://gregstullgainesvilletest1.herokuapp.com/">Percussion Samples</a>
    </article>
    <article>
    <p>A simple python/Flask based web app for calculating the node points on windchimes, xylophnes, etc.</p>
    <a href ="https://awesomegregmath.herokuapp.com/decInches">Wind Chime Calculator</a>
    </article>
    <article>
    <h4>ShareShack</h4>
    <p>I attempted to create code for a tool library; for the Repurpose Project.</p>
    <p>This can be done with Django by repurposing the "local library tutorial on MDN"</p>
    <a href="https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django"></a>
    </article>

    <article>
    <a href ="https://github.com/videzyrah">My github</a>
    </article>
  </section>

  <section id="maintenance">
    <h2 class ="project_category">Maintenance, "Hacks", etc.</h2>
  </section>



</body>
</html>
