<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name = "viewport" content = "width-device-width, initial-scale=1.0">
  <title>Greg's Personal Project Portal</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<!-- Thing's greg has spent a lot of time thinking about that he probably wishes people would listen to him talk about -->
<body>
  <h1>Greg's Personal Project Portal</h1>
  <p>Music | Maintenance | Cooking | Code</p>
  <img class="img-responsive" src="{{url_for('static',filename='images/futonophon.jpg')}}" width ="100" height="100" alt="futonophon">
  <img class="img-responsive" src="{{url_for('static',filename='images/collardsCheap.jpg')}}" width ="100" height="100" alt="futonophon">
  <img class="img-responsive" src="{{url_for('static',filename='images/cellphonemount1.jpg')}}" width ="100" height="100" alt="futonophon">
<section id="preamble">
<p>Hi,I'm Greg.  I have thought, researched,  and/or worked on a number of things that I feel worthy of sharing.</p>
</section
<section id="music">
    <h2>Music</h2>
    <article class="backstory">
    <p>I have played drumset for a few "local" bands but I have also tried to branch out from that</p>
    <p> This includes studying "world" percussion and testing the layering of different sounds</p>

    </article>
    <p>Four Layered percussion piece ideas</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/3Pf0BlNbtq0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>percussion in the park</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/bNjDnxC--b8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>"Repurposed Percussion" Drum Circle at Barcamp</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/1PZIxYYIAhA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <p>Drum triggers, piezos, DIY ekit (fail?), and converting Rock Band pads</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/EPOF0C-PpsQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



    <p>Cajon (as guitar accompaniement)</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/SqKfRCv1VYc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>cajon clinic at Bside Vintage</p>
    <a href = "https://www.facebook.com/ShawnsGuitarLessons/videos/2318836454906571/">Cajon/shakers to emulate drumkit talk</a>
    <p>"Fruity Loops", Caustic, LMMS -synths, samplers, sequencers, and such</p>
    <p>neither proud nor ashamed</p>

  </section>

  <section id="food">
    <h2>Food Preparation (Cooking / Meal Planning)</h2>
  </section>

  <section id="code">
    <h2>Code / Web Ideas</h2>
    <article>
    <a href ="https://gregstullgainesvilletest1.herokuapp.com/">Percussion Samples</a>
    </article>
    <article>
    <p>A simple python/Flask based web app for calculating the node points on windchimes, xylophnes, etc.</p>
    <a href ="https://awesomegregmath.herokuapp.com/decInches">Wind Chime Calculator</a>
    </article>
    <article>
    <p>Garden Patch sMatch</p>
    <a href ="https://codepen.io/theothergregstull/pen/xobwPv">gpm</a>
    </article>
    <article>
    <p>Tuesdays are Terrible</p>
    <a href ="https://www.t-mobile.com/offers/t-mobile-tuesdays">S</a>
    </article>
    <article>
    <p>ShareShack</p>
    <p>I attempted to create code for a tool library; for the Repurpose Project.</p>
    <p>This can be done with Django by repurposing the "local library tutorial on MDN"</p>
    <a href="https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django"></a>
    </article>
    <article>
    <p>Surviving Single / Grocery Cost Calculator</p>

    <p><a href ="https://www.cooksmarts.com/">Cooksmarts</a></p>
    </article>
    <article>
    <a href ="https://github.com/videzyrah">My github</a>
    </article>
  </section>

  <section id="maintenance">
    <h2 class ="project_category">Maintenance, "Hacks", etc.</h2>
  </section>



</body>
</html>
