<!DOCTYPE html>
<html>
<body>
<center> <h1>Greg's TripHop / HipHop / Drip Slop Project </h1></center>


<h1> Drowning In Marketing</h1>
<audio controls>
<source src="https://gregstullgainesvilletest1.herokuapp.com/static/mp3/drowninginmarketing.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>

<h1> The Outsider</h1>
<audio controls>
<source src="https://gregstullgainesvilletest1.herokuapp.com/static/mp3/TheOutsider.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>



</body>
</html>
